* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 80px;
    font-family: Impact;
    color: black;
}

.clickHere {
    font-size: 35px;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: green;
}

.output {
    font-size: 35px;
    color: black;
    display: block;
}